

<div class="container">

{{#user}}
    <!--헤더 네비게이션-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="nav-header">
        <!--
                <div class="navbar-collapse dropdown mr-auto w-100 order-1 order-md-0 dual-collapse2" style="">
                </div>
            -->


        <div class="navbar-collapse w-100 mx-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <input type="hidden" value="{{id}}" id="user_login_id">
            <input type="hidden" value="{{picture}}" id="user_profile_image">
            <input type="hidden" value="{{name}}" id="user_profile_name">
            <input type="hidden" value="{{mainLang}}" id="user_profile_mainLang">
            <img src="{{picture}}" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-expanded="true" alt="Cinque Terre" style="width:50px; height:50px">
            <div class="dropdown-menu">
                <h5 class="dropdown-header" style="text-align:center">{{name}}</h5>
                <h5 class="dropdown-header" style="text-align:center">{{email}}</h5>
                <hr>
                <a class="dropdown-item" href="/user_page?user_id={{id}}"><i class='far fa-edit' style='font-size:20px'></i> 회원 페이지</a>
                <a class="dropdown-item" href="/update_user"><i class='fas fa-cog' style='font-size:20px'></i> 설정</a>
                <a class="dropdown-item" href="/my_message"><i class='fas fa-bell' style='font-size:20px; color:blue'></i> 알림</a>
                <hr>
                <a class="dropdown-item" href="/logout"><i class='fas fa-power-off' style='font-size:20px; color:red'></i> 로그아웃</a>
            </div>

            <div class="navbar-collapse collapse w-100 dual-collapse2 ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">추천</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a href="tag_page?tag=help" class="nav-link" id="help">헬프</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a class="nav-link" href="/follower_page">팔로우</a>
                    </li>
                    {{#isAdmin}}
                    <li class="nav-item" id="test_li">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle btn-danger" data-toggle="dropdown">
                                관리자 메뉴
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="admin_post_page">전체 포스트</a>
                                <a class="dropdown-item" href="admin_report_page">신고 목록</a>
                                <a class="dropdown-item" href="admin_notice_page">공지 작성</a>
                            </div>
                        </div>
                    </li>
                    {{/isAdmin}}
                </ul>
            </div>

        </div>


        <div class="mx-auto order-0">

        </div>


        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-brand mx-auto" href="/main">Hello, World!?</a>
                </li>
            </ul>
        </div>

    </nav>
{{/user}}
</div>