<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>

<body>

{{>layout/header}}



<!--포스트 바디-->

<div class="container" style="top:100px; width:450px">

    <div class="alert alert-success">
        <strong>공지</strong> dddd
    </div>
{{>layout/notice}}

{{>layout/msg_view}}

</div>


{{>layout/footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="/js/app/header_footer_util.js"></script>
<script src="/js/app/my_message_util.js"></script>



</body>
</html>