<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/user_info_form.css">

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />



</head>

<body>

{{>layout/header}}


<!--포스트 바디-->
<!--포스트 공간-->

{{#user}}
<div class="container">


    <div class="alert alert-success">
        <strong>공지</strong> dddd
    </div>
    {{>layout/notice}}



    <div class="row" style="padding-top:90px">
        <div class="col-md-6 col-md-offset-3 mx-auto">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <form id="register-form" method="post" role="form">
                                <input type="hidden" value="{{userType}}" id="user_type">
                                <input type="hidden" id="user_id" name="user_id" value="{{id}}">
                                <input type="hidden" id="default_image" value="{{picture}}" name="default_image">
                                <div style="text-align:center">
                                    <img src="{{picture}}" id="image" class="rounded-circle" style="width:100px; height:100px; align:center">
                                    </br>
                                </div>
                                <hr>

                                <input type="file" id="profile_image" name="profile_image" class="form-control-file border">

                                <div class="form-group" style="padding-top:10px">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">이메일</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{email}}" id="email" name="email" readonly>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">이름</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{name}}" id="name" name="name">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="input-group mb-3" id="password_form_group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">비밀번호</span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="" id="password" name="password">
                                    </div>
                                </div>


                                <div class="form-group" style="text-align:center; width:70%">
                                    <div class="input-group mb-3 " style="">
                                        <input type="hidden" value="{{gender}}" id="user_gender">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">성별</span>
                                        </div>
                                        <div class="d-flex">
                                            <div class="form-check-inline" style="padding-left:90px">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="gender" id="gender_male" value="male">남
                                                </label>
                                            </div>
                                            <div class="form-check-inline" style="padding-left:50px">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="gender" id="gender_female" value="female">녀
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">생일</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{birthday}}" id="datepicker" name="birthday" width="360"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="hidden" value="{{mainLang}}" id="user_main_lang">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">사용언어</span>
                                        </div>
                                        <select class="form-control" id="sel1" name="main_lang">
                                            <option value="ko" id="ko_op">한국어</option>
                                            <option value="ja" id="ja_op">일본어</option>
                                            <option value="en" id="en_op">영어</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">관심언어</span>
                                        </div>
                                        <input type="text" class="form-control" value="{{interestLangText}}," id="interest_lang_text" rel="" readonly>
                                        <input type="hidden" class="form-control" value="{{interestLangText}}," id="interest_lang" name="interest_lang">
                                        <div class="input-group-prepend">
                                            <a><span class="input-group-text" data-toggle="modal" data-target="#select-nation">선택</span></a>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">자기소개</span>
                                        </div>
                                        <textarea class="textarea form-control" rows="5" name="introduce" class="form-control">{{introduce}}</textarea>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" name="user_update_submit" id="user_update_submit" tabindex="4" class="form-control  btn btn-outline-primary">회원가입</button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/user}}


<div class="modal" id="select-nation">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">언어 선택</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <!-- Modal body -->
            <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
            <div class="modal-body">
                <ul id="myUL" class="lang_list">
                    <li><a href="#" name="ko" class="select_interest_lang">한국어</a></li>
                    <li><a href="#" name="ja" class="select_interest_lang">일본어</a></li>
                    <li><a href="#" name="en "class="select_interest_lang">영어</a></li>
                </ul>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="lang_submit">완료</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{{>layout/footer}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>



<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<script src="/js/app/user_ajax.js"></script>
<script src="/js/app/user_info_form.js"></script>
<script src="/js/app/update_user_util.js"></script>


<script src="/js/app/header_footer_util.js"></script>

</body>
</html>